---
---
@import "{{ site.theme }}";

@font-face {
	font-family: "LXGWWenKai-Bold";
	src: url("/assets/fonts/LXGWWenKai-Bold.ttf");
}

body {
	font-family: "Times New Roman", "LXGWWenKai-Bold";
	font-size: 20px;
}

blockquote {
	font-style: normal;
	font-size: 80%;
}
